
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


.tarjetasgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .tarjeta {
    width: 23%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .img {
    width: 100%;
    cursor: pointer;
  }
  
  .paragraph {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    .tarjeta {
      width: 48%; /* Reducimos el ancho para que se muestren solo dos tarjetas por fila */
    }
    
    /* También puedes reducir el padding o hacer otros ajustes para un mejor diseño en dispositivos móviles */
    .tarjetasgrid {
      padding-left: 10px;
      padding-right: 10px;
    }
  }